[submodule "energymon-msr-sys/energymon"]
	path = energymon-msr-sys/energymon
	url = https://github.com/connorimes/energymon.git
[submodule "energymon-dummy-sys/energymon"]
	path = energymon-dummy-sys/energymon
	url = https://github.com/connorimes/energymon.git
[submodule "energymon-odroid-sys/energymon"]
	path = energymon-odroid-sys/energymon
	url = https://github.com/connorimes/energymon.git
[submodule "energymon-osp-sys/energymon"]
	path = energymon-osp-sys/energymon
	url = https://github.com/connorimes/energymon.git
[submodule "energymon-osp-polling-sys/energymon"]
	path = energymon-osp-polling-sys/energymon
	url = https://github.com/connorimes/energymon.git
[submodule "energymon-rapl-sys/energymon"]
	path = energymon-rapl-sys/energymon
	url = https://github.com/connorimes/energymon.git
